@import "assets/fonts/graphik/fonts.css";
@import "assets/fonts/BallingerMono/MyFontsWebfontsKit.css";

:root{
    background-color: #D8E2FF;

    --font1 : 'Graphik Web', sans-serif;
    --font2 : 'BallingerMono-Light';

    font-size: 16px;
}

h1{
    font-size: clamp(16px, 4.5rem, 5vw);
    font-weight: 500;
}

h2{
    font-size: clamp(16px, 25px, 1.5rem);
    font-weight: 500;
}

body{
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    color: #8B634B;
    text-decoration: none;  
    transition: all 0.2s ease-in;
}
  
a:active, a:hover{
  color: black;
}

ol {
    
    counter-reset: custom;
    list-style: none;
    padding: 0;
    margin: 0px 20px;
    width: 100%;
}

ol li {
    counter-increment: custom;
    padding: 15px;
    display: flex;
    /* flex-wrap: wrap; */
    /* position: relative; */
    align-items: center;
}
ol li:before {
    content: counters(custom, ".") " ";
    font-family: Graphik Web;
    position: absolute;
    left: 48%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background: #8B634B;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @supports (grid-template-columns: subgrid) {
    ol.subgrid {
      display: grid;
      grid-template-columns: min-content 1fr;
    }
    ol.subgrid li {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
      grid-gap: 0.5rem; 
    }
} */

footer{
    margin-bottom: 2rem;
}

.ballinger{
    font-family: var(--font2);
    font-size: small;
}
.graphik{
    font-family: var(--font1);
}

.brown{
    color: #8B634B;
}

.big-font{
    font-size: 25px;
    font-weight: 500;
}

.align-right{
    text-align: right;
}
.align-left{
    text-align: left;
}

.button-look{
    border: 1.6px solid #8B634B;
    border-radius: 50px;
    padding: 0.4em;
    width: 21ch;
    margin-bottom: 0.5em;
}


.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 4px; 
    background: #8B634B;
    color: rgb(255, 255, 255);
    text-align: center;
    font: 16px Graphik Web, sans-serif;
  }

.hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #000000;
}

.text-font{
    font-size: 20px;
}

.two-column-section{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    column-gap: 100px;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%;
}

.three-column-section{
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1fr;
    margin-top: 80px;
    margin-bottom: 80px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-text{
    font-size: 0.9rem;
}

.black{
    color: rgb(48, 48, 48);
}

#content-wrapper{
    width: clamp( 360px, 90% , 1600px);
    /* overflow: hidden; */
}

#kerstin-img {
    max-height: 300px;
    width: auto;
}

#signature {
    height: 90px;
    width: 300px;
}

#ici {
    position: relative;
    /* left: 1%; */
    height: 170px;
    width: 170px;
}

#kontakt-space {
    margin-top: 80px;
}

#title-space {
    margin-bottom: 50px;
}

#footer-div{
    gap: 1rem;
}

@media screen and (max-width: 860px) {

    h1{
        font-size: 9vw;
    }

    h2{
        font-size: clamp(16px, 4vw, 1.5rem);
        font-weight: 500;
    }
    
    .text-font{
        font-size: 1rem;
    }

    #display-desktop {
        display: none;
    }

    body{
        padding-right: 10px;
        padding-bottom: 50px;
        padding-left: 10px;
    }

    ol li:before {
        left: 5.5%;
    }

    .two-column-section{
        grid-template-columns: 1fr;
        /* This needs to go to the 
        element instead of the container */
        /* align-items: center;
        justify-content: center; */
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .three-column-section{
        grid-template-columns: 1fr;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}